<div class="header-bottom sticky-header fix-top sticky-content d-lg-show">
	<div class="container" id="hide-on-scroll">
		<div class="header-left">
			<div class="dropdown category-dropdown" data-visible="true">
				<a href="#" class="category-toggle" role="button" data-toggle="dropdown" data-display="static" title="Browse Categories">
					<i class="d-icon-bars"></i>
					<span>Browse Categories</span>
				</a>

				<div class="dropdown-box">
					<ul class="menu vertical-menu category-menu">
						<li>
							<a href="/shop">
								<i class="d-icon-t-shirt1"></i>Fashion
							</a>
							<ul class="megamenu">
								<li>
									<h4 class="menu-title">Women</h4>
									<hr class="divider">
									<ul>
										<li><a href="/shop">New Arrivals</a></li>
										<li><a href="/shop">Best Sellers</a></li>
										<li><a href="/shop">Trending</a></li>
										<li><a href="/shop">Clothing</a></li>
										<li><a href="/shop">Shoes</a></li>
										<li><a href="/shop">Bags</a></li>
										<li><a href="/shop">Accessories</a></li>
										<li><a href="/shop">Jewellery &
											                                                            Watches</a></li>
										<li><a href="/shop">Sale</a></li>
									</ul>
								</li>
								<li>
									<h4 class="menu-title">Men</h4>
									<hr class="divider">
									<ul>
										<li><a href="/shop">New Arrivals</a></li>
										<li><a href="/shop">Best Sellers</a></li>
										<li><a href="/shop">Trending</a></li>
										<li><a href="/shop">Clothing</a></li>
										<li><a href="/shop">Shoes</a></li>
										<li><a href="/shop">Bags</a></li>
										<li><a href="/shop">Accessories</a></li>
										<li><a href="/shop">Jewellery &
											                                                            Watches</a></li>
									</ul>
								</li>
								<li>
									<div class="banner-fixed menu-banner menu-banner4 content-middle">
										<figure>
											<img src="{{ asset('theme/images/menu/banner-4.jpg') }}" alt="Menu Banner" width="235" height="347"/>
										</figure>
										<div class="banner-content">
											<h4 class="banner-subtitle mb-2 font-weight-normal">Trending Now
											</h4>
											<h3 class="banner-title ls-m">
												New<br>Summer<br>Fashion
											</h3>
											<a href="#" class="btn btn-outline btn-dark btn-rounded btn-md">Shop
												                                                            Now</a>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<a href="/shop">
								<i class="d-icon-home"></i>Home & Garden
							</a>
							<ul class="megamenu">
								<li>
									<h4 class="menu-title">Bedroom</h4>
									<hr class="divider">
									<ul>
										<li>
											<a href="/shop">Beds, Frames &
												                                                            Bases</a>
										</li>
										<li>
											<a href="/shop">Dressers</a>
										</li>
										<li>
											<a href="/shop">Nightstands</a>
										</li>
										<li>
											<a href="/shop">Kid's Beds &
												                                                            Headboards</a>
										</li>
										<li>
											<a href="/shop">Armories</a>
										</li>
									</ul>

									<h4 class="menu-title">Living Room</h4>
									<hr class="divider">
									<ul>
										<li><a href="/shop">Coffee Tables</a></li>
										<li><a href="/shop">Chairs</a></li>
										<li><a href="/shop">Tables</a></li>
										<li><a href="/shop">Futons & Sofa
											                                                            Beds</a></li>
										<li><a href="/shop">Cabinets &
											                                                            Chests</a></li>
									</ul>
								</li>
								<li>
									<h4 class="menu-title">Office</h4>
									<hr class="divider">
									<ul>
										<li>
											<a href="/shop">Office Chairs</a>
										</li>
										<li>
											<a href="/shop">Desks</a>
										</li>
										<li>
											<a href="/shop">Bookcases</a>
										</li>
										<li>
											<a href="/shop">File Cabinets</a>
										</li>
										<li>
											<a href="/shop">Breakroom
												                                                            Tables</a>
										</li>
									</ul>

									<h4 class="menu-title">Kitchen & Dining</h4>
									<hr class="divider">
									<ul>
										<li><a href="/shop">Dining Sets</a></li>
										<li><a href="/shop">Kitchen Storage
											                                                            Cabinets</a></li>
										<li><a href="/shop">Bahers Racks</a></li>
										<li><a href="/shop">Dining Chairs</a></li>
										<li><a href="/shop">Dining Room
											                                                            Tables</a></li>
										<li><a href="/shop">Bar Stools</a></li>
									</ul>
								</li>
								<li>
									<div class="menu-banner banner-fixed menu-banner5">
										<figure>
											<img src="{{ asset('theme/images/menu/banner-5.jpg') }}" alt="Menu Banner" width="235" height="461"/>
										</figure>
										<div class="banner-content">
											<h4 class="banner-subtitle text-white font-weight-normal ls-normal">
												Hottest Deals</h4>
											<h3 class="banner-title text-white ls-m mb-5">Save<br>Up To
												                                                            30%<br>On
												                                                            Clearance
											</h3>
											<a href="#" class="btn btn-outline btn-white btn-rounded btn-md">Shop
												                                                            Now</a>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<a href="/shop">
								<i class="d-icon-desktop"></i>Electronics
							</a>
							<ul class="megamenu">
								<li>
									<h4 class="menu-title">Laptops & Computers</h4>
									<hr class="divider">
									<ul>
										<li>
											<a href="/shop">Desktop
												                                                            Computers</a>
										</li>
										<li>
											<a href="/shop">Monitors</a>
										</li>
										<li>
											<a href="/shop">Laptops</a>
										</li>
										<li>
											<a href="/shop">Hard Drivers &
												                                                            Storage</a>
										</li>
										<li>
											<a href="/shop">Printers &
												                                                            Supplies</a>
										</li>
										<li>
											<a href="/shop">Computer
												                                                            Accessories</a>
										</li>
									</ul>

									<h4 class="menu-title mt-1">TV & Video</h4>
									<hr class="divider">
									<ul>
										<li><a href="/shop">TVs</a></li>
										<li><a href="/shop">Home Audio
											                                                            Speakers</a></li>
										<li><a href="/shop">Projectors</a></li>
										<li><a href="/shop">Media Streaming
											                                                            Devices</a></li>
									</ul>
								</li>
								<li>
									<h4 class="menu-title">Digital Cameras</h4>
									<hr class="divider">
									<ul>
										<li>
											<a href="/shop">Digital SLR
												                                                            Cameras</a>
										</li>
										<li>
											<a href="/shop">Sports & Action
												                                                            Cameras</a>
										</li>
										<li>
											<a href="/shop">Camera Lenses</a>
										</li>
										<li>
											<a href="/shop">Photo Printer</a>
										</li>
										<li>
											<a href="/shop">Digital Memory
												                                                            Cards</a>
										</li>
										<li>
											<a href="/shop">Camera Bags,
												                                                            Backpacks</a>
										</li>
									</ul>

									<h4 class="menu-title mt-1">Cell Phones</h4>
									<hr class="divider">
									<ul>
										<li><a href="/shop">Carrier Phones</a></li>
										<li><a href="/shop">Unlocked Phones</a></li>
										<li><a href="/shop">Phone & Cellphone
											                                                            Cases</a></li>
										<li><a href="/shop">Cellphone
											                                                            Chargers</a></li>
									</ul>
								</li>
								<li>
									<div class="menu-banner banner-fixed menu-banner5">
										<figure>
											<img src="{{ asset('theme/images/menu/banner-6.jpg') }}" alt="Menu Banner" width="235" height="433"/>
										</figure>
										<div class="banner-content">
											<h4 class="banner-subtitle font-weight-normal text-body">Deals
												                                                            Of The
												                                                            Week</h4>
											<h3 class="banner-title ls-m mb-4">Save On
												                                                            Smart<br>Games<br>and
												                                                            Fantasy
												<br><span class="text-uppercase text-primary d-inline-block mt-2 font-weight-bold">20%
													                                                                Off</span>
											</h3>
											<a href="#" class="btn btn-outline btn-dark btn-rounded btn-md">Shop
												                                                            Now</a>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<a href="/shop">
								<i class="d-icon-sofa"></i>Furniture
							</a>
							<div class="megamenu type2">
								<div class="row">
									<div class="col-md-3 col-lg-3 col-6">
										<h4 class="menu-title">Furniture</h4>
										<hr class="divider"/>
										<ul>
											<li><a href="/shop">Sofas & Couches</a></li>
											<li><a href="/shop">Armchairs</a></li>
											<li><a href="/shop">Bed Frames</a></li>
											<li><a href="/shop">Beside Tables</a></li>
											<li><a href="/shop">Dressing Tables</a></li>
											<li><a href="/shop">Chest of
												                                                                Drawers</a></li>
										</ul>
									</div>
									<div class="col-md-3 col-lg-3 col-6">
										<h4 class="menu-title">Lighting</h4>
										<hr class="divider"/>
										<ul>
											<li><a href="/shop">Light Bulbs</a></li>
											<li><a href="/shop">Lamps</a></li>
											<li><a href="/shop">Celling Lights</a></li>
											<li><a href="/shop">Wall Lights</a></li>
											<li><a href="/shop">Bathroom
												                                                                Lighting</a></li>
											<li><a href="/shop">Outdoor
												                                                                Lighting</a></li>
										</ul>
									</div>
									<div class="col-md-3 col-lg-3 col-6">
										<h4 class="menu-title">Home Accessories</h4>
										<hr class="divider"/>
										<ul>
											<li><a href="shop-fullwidth-banner.html">Decorative
												                                                                Accessories</a></li>
											<li><a href="shop-fullwidth-banner.html">Candals &
												                                                                Holders</a></li>
											<li><a href="shop-fullwidth-banner.html">Home Fragrance</a></li>
											<li><a href="shop-fullwidth-banner.html">Mirrors</a></li>
											<li><a href="shop-fullwidth-banner.html">Clocks</a></li>
										</ul>
									</div>
									<div class="col-md-3 col-lg-3 col-6">
										<h4 class="menu-title">Garden & Outdoors</h4>
										<hr class="divider"/>
										<ul>
											<li><a href="/shop">Garden
												                                                                Furniture</a></li>
											<li><a href="/shop">Lawn Mowers</a></li>
											<li><a href="/shop">Pressure
												                                                                Washers</a></li>
											<li><a href="/shop">All Garden
												                                                                Tools</a></li>
											<li><a href="/shop">Outdoor Dining</a></li>
											<li><a href="/shop">Barbecure &
												                                                                Equipment</a></li>
										</ul>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-lg-3 col-6">
										<figure>
											<img src="{{ asset('theme/images/menu/1.jpg') }}" alt="Menu Banner" width="172" height="106"/>
										</figure>
									</div>
									<div class="col-md-3 col-lg-3 col-6">
										<figure>
											<img src="{{ asset('theme/images/menu/2.jpg') }}" alt="Menu Banner" width="107" height="78"/>
										</figure>
									</div>
									<div class="col-md-3 col-lg-3 col-6">
										<figure>
											<img src="{{ asset('theme/images/menu/3.jpg') }}" alt="Menu Banner" width="127" height="101"/>
										</figure>
									</div>
									<div class="col-md-3 col-lg-3 col-6">
										<figure>
											<img src="{{ asset('theme/images/menu/4.jpg') }}" alt="Menu Banner" width="105" height="105"/>
										</figure>
									</div>
								</div>
							</div>
						</li>
						<li>
							<a href="/shop">
								<i class="d-icon-heartbeat"></i>Healthy & Beauty
							</a>
						</li>
						<li>
							<a href="/shop">
								<i class="d-icon-gift"></i>Gift Ideas
							</a>
						</li>
						<li>
							<a href="/shop">
								<i class="d-icon-gamepad1"></i>Toy & Games
							</a>
						</li>
						<li>
							<a href="/shop">
								<i class="d-icon-cook"></i>Cooking
							</a>
						</li>
						<li>
							<a href="/shop">
								<i class="d-icon-mobile"></i>Smart Phones
							</a>
						</li>
						<li>
							<a href="/shop">
								<i class="d-icon-camera2"></i>Cameras & Photo
							</a>
						</li>
						<li>
							<a href="/shop">
								<i class="d-icon-clock"></i>Accessories
							</a>
						</li>
						<li>
							<a href="/shop" class="font-weight-semi-bold text-primary text-uppercase ls-25">
								View All Categories<i class="d-icon-angle-right"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<nav class="main-nav">
				<ul class="menu menu-active-underline">
					<li class="active">
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/shop">Shop</a>
						<div class="megamenu">
							<div class="row">
								<div class="col-6 col-sm-4 col-md-4 col-lg-3">
									<h4 class="menu-title">Variations 1</h4>
									<ul>
										<li><a href="shop-classic-filter.html">Classic Filter</a></li>
										<li><a href="shop-left-toggle-sidebar.html">Left Toggle Filter</a></li>
										<li><a href="shop-right-toggle-sidebar.html">Right Toggle
											                                                            Sidebar</a></li>
										<li><a href="shop-horizontal-filter.html">Horizontal Filter</a></li>
										<li><a href="shop-navigation-filter.html">Navigation Filter</a></li>

										<li><a href="shop-off-canvas-filter.html">Off-Canvas Filter</a></li>
										<li><a href="shop-top-banner.html">Top Banner</a></li>
										<li><a href="shop-inner-top-banner.html">Inner Top Banner</a></li>
										<li><a href="shop-with-bottom-block.html">With Bottom Block</a></li>
										<li><a href="shop-category-in-page-header.html">Category In Page
											                                                            Header</a></li>
									</ul>
								</div>
								<div class="col-6 col-sm-4 col-md-4 col-lg-3">
									<h4 class="menu-title">Variations 2</h4>
									<ul>
										<li><a href="shop-grid-3cols.html">3 Columns Mode</a></li>
										<li><a href="shop-grid-4cols.html">4 Columns Mode</a></li>
										<li><a href="shop-grid-5cols.html">5 Columns Mode</a></li>
										<li><a href="shop-grid-6cols.html">6 Columns Mode</a></li>
										<li><a href="shop-grid-7cols.html">7 Columns Mode</a></li>
										<li><a href="shop-grid-8cols.html">8 Columns Mode</a></li>
										<li><a href="shop-list-mode.html">List Mode</a></li>
										<li><a href="shop-pagination.html">Pagination</a></li>
										<li><a href="shop-infinite-ajaxscroll.html">Infinite Ajaxscroll</a></li>
										<li><a href="shop-loadmore-button.html">Loadmore Button</a></li>
									</ul>
								</div>
								<div class="col-6 col-sm-4 col-md-4 col-lg-3">
									<h4 class="menu-title">Variations 3</h4>
									<ul>
										<li><a href="shop-category-grid-shop.html">Category Grid Shop</a></li>
										<li><a href="shop-category+products.html">Category + Products</a></li>
										<li><a href="shop-default-1.html">Shop Default 1</a></li>
										<li><a href="shop-default-2.html">Shop Default 2</a></li>
										<li><a href="shop-default-3.html">Shop Default 3</a></li>
										<li><a href="shop-default-4.html">Shop Default 4</a></li>
										<li><a href="shop-default-5.html">Shop Default 5</a></li>
										<li><a href="shop-default-6.html">Shop Default 6</a></li>
										<li><a href="shop-default-7.html">Shop Default 7</a></li>
										<li><a href="shop-default-8.html">Shop Default 8</a></li>
									</ul>
								</div>
								<div class="col-6 col-sm-4 col-md-4 col-lg-3 menu-banner menu-banner1 banner banner-fixed">
									<figure>
										<img src="{{ asset('theme/images/menu/banner-1.jpg') }}" alt="Menu banner" width="221" height="330"/>
									</figure>
									<div class="banner-content y-50">
										<h4 class="banner-subtitle font-weight-bold text-primary ls-m">Sale.
										</h4>
										<h3 class="banner-title font-weight-bold">
											<span class="text-uppercase">Up to</span>70% Off</h3>
										<a href="shop.html" class="btn btn-link btn-underline">shop now<i class="d-icon-arrow-right"></i>
										</a>
									</div>
								</div>
								<!-- End Megamenu -->
							</div>
						</div>
					</li>
					<li>
						<a href="/store-list">Vendor</a>
						<ul>
							<li><a href="/store-list">Store List</a></li>
							<li><a href="vendor1.html">Vendor Store</a></li>
						</ul>
					</li>
					<li>
						<a href="/shop">Products</a>
						<div class="megamenu">
							<div class="row">
								<div class="col-6 col-sm-4 col-md-3">
									<h4 class="menu-title">Product Pages</h4>
									<ul>
										<li><a href="product-simple.html">Simple Product</a></li>
										<li><a href="product-featured.html">Featured &amp; On Sale</a></li>
										<li><a href="product.html">Variable Product</a></li>
										<li><a href="product-variable-swatch.html">Variation Swatch
											                                                            Product</a></li>
										<li><a href="product-grouped.html">Grouped Product</a></li>
										<li><a href="product-external.html">External Product</a></li>
										<li><a href="product-in-stock.html">In Stock Product</a></li>
										<li><a href="product-out-stock.html">Out of Stock Product</a></li>
										<li><a href="product-upsell.html">Upsell Products</a></li>
										<li><a href="product-cross-sell.html">Cross Sell Products</a></li>
									</ul>
								</div>
								<div class="col-6 col-sm-4 col-md-3">
									<h4 class="menu-title">Product Layouts</h4>
									<ul>
										<li><a href="product-vertical.html">Vertical Thumb</a></li>
										<li><a href="product-horizontal.html">Horizontal Thumb</a></li>
										<li><a href="product-gallery.html">Gallery Type</a></li>
										<li><a href="product-grid.html">Grid Images</a></li>
										<li><a href="product-masonry.html">Masonry Images</a></li>
										<li><a href="product-sticky.html">Sticky Info</a></li>
										<li><a href="product-sticky-both.html">Left & Right Sticky</a></li>
										<li><a href="product-left-sidebar.html">With Left Sidebar</a></li>
										<li><a href="product-right-sidebar.html">With Right Sidebar</a></li>
										<li><a href="product-full.html">Full Width Layout</a></li>
									</ul>
								</div>
								<div class="col-6 col-sm-4 col-md-3">
									<h4 class="menu-title">Product Features</h4>
									<ul>
										<li><a href="product-sale.html">Sale Countdown</a></li>
										<li><a href="product-hurryup.html">Hurry Up Notification</a></li>
										<li><a href="product-attribute-guide.html">Attribute Guide</a></li>
										<li><a href="product-sticky-cart.html">Add Cart Sticky</a></li>
										<li><a href="product-thumbnail-label.html">Labels on Thumbnail</a></li>
										<li><a href="product-more-description.html">More Description
											                                                            Tabs</a></li>
										<li><a href="product-accordion-data.html">Data In Accordion</a></li>
										<li><a href="product-tabinside.html">Data Inside</a></li>
										<li><a href="product-video.html">Video Thumbnail</a></li>
										<li><a href="product-360-degree.html">360 Degree Thumbnail</a></li>
									</ul>
								</div>
								<div class="col-6 col-sm-4 col-md-3 menu-banner menu-banner2 banner banner-fixed">
									<figure>
										<img src="{{ asset('theme/images/menu/banner-2.jpg') }}" alt="Menu banner" width="221" height="330"/>
									</figure>
									<div class="banner-content x-50 text-center">
										<h3 class="banner-title text-white text-uppercase">Sunglasses</h3>
										<h4 class="banner-subtitle font-weight-bold text-white mb-0">$23.00
											                                                        -
											                                                        $120.00</h4>
									</div>
								</div>
								<!-- End MegaMenu -->
							</div>
						</div>
					</li>
					<li>
						<a href="#">Pages</a>
						<ul>
							<li>
								<a href="/blog">Blog</a>
							</li>
							<li>
								<a href="/about-us">About</a>
							</li>
							<li>
								<a href="/contact-us">Contact Us</a>
							</li>
							<li>
								<a href="/compte">My Account</a>
							</li>
							<li>
								<a href="/wishlist">Wishlist</a>
							</li>
							<li>
								<a href="/faqs">FAQs</a>
							</li>
							<li>
								<a href="/error-404">Error 404</a>
								<ul>
									<li><a href="error-404.html">Error 404-1</a></li>
									<li><a href="error-404-1.html">Error 404-2</a></li>
									<li><a href="error-404-2.html">Error 404-3</a></li>
									<li><a href="error-404-3.html">Error 404-4</a></li>
								</ul>
							</li>
							<li>
								<a href="coming-soon.html">Coming Soon</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="about-us.html">About Us</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header-right">
			<a href="#">
				<i class="d-icon-card"></i>Special Offers</a>
		</div>
	</div>

    <div id="search-bar-sticky" class="d-none col-12">
         {% include "components/base/header-middle.html.twig" %}
    </div>

</div>

<script>
    window.addEventListener('scroll', (event) => {
    const max = window.scrollY >= 248
     var dom = document.querySelector('#hide-on-scroll')
     var search = document.querySelector('#search-bar-sticky')
    if ( max ) {
        dom.classList.add('d-none')
        search.classList.remove('d-none')
    }  else {
        dom.classList.remove('d-none')
        search.classList.add('d-none')        
    }    
    
})
</script>