<section class="grey-section pt-4 pb-10">
	<div class="container">
		<div class="intro-wrapper row">
			<div class="col-lg-9 mb-4">
				<div class="owl-carousel owl-theme owl-dot-inner row cols-1 gutter-no animation-slider" data-owl-options="{
						                                    'nav': false,
						                                    'dots': true,
						                                    'margin': 0
						                                }">
					<div class="banner banner-fixed intro-slide intro-slide1 content-middle banner-radius">
						<figure>
							<img src="{{ asset('theme/images/demos/demo-market2/slide/1.jpg') }}" alt="Banner" width="1030" height="498" style="background-color: #e7e9e9;"/>
						</figure>
						<div class="banner-content">
							<div class="slide-animate" data-animation-options="{
									                                                'name': 'fadeInLeftShorter', 'duration': '1s'
									                                            }">
								<h4 class="banner-subtitle font-weight-semi-bold text-body text-uppercase">
									Sale up to
									<span class="text-secondary ls-l">20% OFF</span>
									Everything
								</h4>
								<h3 class="banner-title font-secondary font-weight-bold mb-1">The
									                                                    Excellent
									                                                    Collection</h3>
								<p class="font-weight-normal text-body mb-5">Only until the end of the
									                                                    week
								</p>
								<a href="/shop" class="btn btn-dark btn-rounded">Shop Now<i class="d-icon-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="banner banner-fixed intro-slide intro-slide2 content-middle banner-radius text-right">
						<figure>
							<img src="{{ asset('theme/images/demos/demo-market2/slide/2.jpg') }}" alt="Banner" width="1030" height="498" style="background-color: #cdbbaf;"/>
						</figure>
						<div class="banner-content">
							<div class="slide-animate" data-animation-options="{
									                                                'name': 'fadeInRightShorter', 'duration': '1s'
									                                            }">
								<h4 class="banner-subtitle font-weight-semi-bold text-body">
									New Amazing Collection</h4>
								<h3 class="banner-title font-secondary">Diamond Ring
									                                                    Decoration</h3>
								<p class="font-weight-normal text-body ls-m">
									Discount
									<span class="text-secondary text-uppercase font-weight-semi-bold ls-l">30%
										                                                        Off</span>
									For Jewelry Store</p>
								<a href="/shop" class="btn btn-dark btn-rounded">Shop Now<i class="d-icon-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="banner banner-fixed intro-slide intro-slide3 content-middle banner-radius">
						<figure>
							<img src="{{ asset('theme/images/demos/demo-market2/slide/3.jpg') }}" alt="Banner" width="1030" height="498" style="background-color: #ece8e4;"/>
						</figure>
						<div class="banner-content">
							<h4 class="banner-subtitle font-weight-semi-bold text-body text-uppercase slide-animate" data-animation-options="{
									                                                'name': 'fadeInDownShorter', 'duration': '1s', 'delay': '.2s'
									                                            }">
								World Of Music WIth</h4>
							<h3 class="banner-title font-secondary slide-animate" data-animation-options="{
								                                                'name': 'fadeInDownShorter', 'duration': '1s', 'delay': '.4s'
								                                            }">Heavy Definition
								                                                Smart Music</h3>
							<p class="font-weight-normal text-body ls-m mb-5 slide-animate" data-animation-options="{
									                                                'name': 'fadeInDownShorter', 'duration': '1s', 'delay': '.6s'
									                                            }">
								Provides
								<span class="text-secondary font-weight-semi-bold">High
									                                                    Tone</span>
								quality with murmuring</p>
							<a href="/shop" class="btn btn-white btn-rounded slide-animate" data-animation-options="{
								                                                'name': 'fadeInDownShorter', 'duration': '1s', 'delay': '.8s'
								                                            }">Shop Now<i class="d-icon-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="row cols-lg-1 cols-sm-2 cols-1">
					<div class="banner-wrap">
						<div class="banner banner-fixed intro-banner banner-radius mb-4">
							<figure>
								<img src="{{ asset('theme/images/demos/demo-market2/slide/4.jpg') }}" alt="Banner" width="330" height="239" style="background-color: #e4e4e4;"/>
							</figure>
							<div class="banner-content">
								<h4 class="banner-subtitle text-uppercase font-weight-normal text-body ls-m">
									New Arrivals</h4>
								<h3 class="banner-title font-secondary text-uppercase font-weight-semi-bold ls-m">
									Summer<br>
									Sale 20% Off</h3>
								<a href="/shop" class="btn btn-dark btn-link btn-underline font-weight-normal">Shop
									                                                    Now<i class="d-icon-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="banner-wrap">
						<div class="banner banner-fixed intro-banner banner-radius mb-4">
							<figure>
								<img src="{{ asset('theme/images/demos/demo-market2/slide/5.jpg') }}" alt="Banner" width="330" height="239" style="background-color: #f0eae4;"/>
							</figure>
							<div class="banner-content">
								<h4 class="banner-subtitle text-uppercase font-weight-normal text-body ls-m">
									Gaming 4k</h4>
								<h3 class="banner-title font-secondary text-uppercase font-weight-semi-bold ls-m">
									Desktops &amp;
									<br>laptops</h3>
								<a href="/shop" class="btn btn-dark btn-link btn-underline font-weight-normal">Shop
									                                                    Now<i class="d-icon-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="service-slider owl-carousel owl-theme row gutter-no cols-lg-4 cols-md-3 cols-sm-2 cols-1 bg-white mt-2 mb-10" data-owl-options="{
				                            'nav': false,
				                            'dots': false,
				                            'autoplay': true,
				                            'autoplayTimeout': 4000,
				                            'responsive': {
				                                '0': {
				                                    'items': 1
				                                },
				                                '576': {
				                                    'items': 2
				                                },
				                                '992': {
				                                    'items': 3
				                                },
				                                '1306': {
				                                    'items': 4
				                                }
				                            }
				                        }">
			<div class="icon-box icon-box-side icon-box1">
				<i class="icon-box-icon d-icon-truck"></i>
				<div class="icon-box-content">
					<h4 class="icon-box-title text-capitalize lh-1 ls-s">Free Shipping &amp;
						                                        Return
					</h4>
					<p class="lh-1">Free shipping on orders over $99</p>
				</div>
			</div>

			<div class="icon-box icon-box-side icon-box2">
				<i class="icon-box-icon d-icon-service"></i>
				<div class="icon-box-content">
					<h4 class="icon-box-title text-capitalize lh-1 ls-s">Customer Support 24/7
					</h4>
					<p class="lh-1">Instant access to perfect support</p>
				</div>
			</div>

			<div class="icon-box icon-box-side icon-box3">
				<i class="icon-box-icon d-icon-secure"></i>
				<div class="icon-box-content">
					<h4 class="icon-box-title text-capitalize lh-1 ls-s">100% Secured Payment
					</h4>
					<p class="lh-1">We ensure secured payment!</p>
				</div>
			</div>

			<div class="icon-box icon-box-side icon-box4">
				<i class="icon-box-icon d-icon-money"></i>
				<div class="icon-box-content">
					<h4 class="icon-box-title text-capitalize lh-1 ls-s">Money Back Guarantee
					</h4>
					<p class="lh-1">Any back within 30 days</p>
				</div>
			</div>
		</div>
        
		<div class="row cols-lg-6 cols-sm-3 cols-2 pt-6 pb-2 appear-animate">
			<div class="category-wrap mb-4">
				<div class="category category-default1 category-absolute">
					<a href="/shop">
						<figure>
							<img src="{{ asset('theme/images/demos/demo-market2/category/1.jpg') }}" alt="Category" width="213" height="213"/>
						</figure>
						<div class="category-content">
							<h4 class="category-name">Fashion</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="category-wrap mb-4">
				<div class="category category-default1 category-absolute">
					<a href="/shop">
						<figure>
							<img src="{{ asset('theme/images/demos/demo-market2/category/2.jpg') }}" alt="Category" width="213" height="213"/>
						</figure>
						<div class="category-content">
							<h4 class="category-name">Furniture</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="category-wrap mb-4">
				<div class="category category-default1 category-absolute">
					<a href="/shop">
						<figure>
							<img src="{{ asset('theme/images/demos/demo-market2/category/3.jpg') }}" alt="Category" width="213" height="213"/>
						</figure>
						<div class="category-content">
							<h4 class="category-name">Sports</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="category-wrap mb-4">
				<div class="category category-default1 category-absolute">
					<a href="/shop">
						<figure>
							<img src="{{ asset('theme/images/demos/demo-market2/category/4.jpg') }}" alt="Category" width="213" height="213"/>
						</figure>
						<div class="category-content">
							<h4 class="category-name">Toys</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="category-wrap mb-4">
				<div class="category category-default1 category-absolute">
					<a href="/shop">
						<figure>
							<img src="{{ asset('theme/images/demos/demo-market2/category/5.jpg') }}" alt="Category" width="213" height="213"/>
						</figure>
						<div class="category-content">
							<h4 class="category-name">Cameras</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="category-wrap mb-4">
				<div class="category category-default1 category-absolute">
					<a href="/shop">
						<figure>
							<img src="{{ asset('theme/images/demos/demo-market2/category/6.jpg') }}" alt="Category" width="213" height="213"/>
						</figure>
						<div class="category-content">
							<h4 class="category-name">Gaming</h4>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
