<div class="banner banner-radius banner-wrapper mb-10 appear-animate" data-animation-options="{'name': 'fadeIn'}" style="background-image: url(theme/images/demos/demo-market2/banner/7.jpg);
															                            background-color: #e7ebee;">
	<div class="banner-content d-flex align-items-center justify-content-end">
		<h3 class="banner-title font-secondary font-weight-bold text-uppercase text-center mb-0 ls-m">
			Gift
			<span class="text-secondary">50 % de réduction</span>
			Styles parfaits<br>
			<span class="banner-text font-primary font-weight-normal text-normal ls-normal d-inline-block">Seulement
				jusqu'à la fin de cette semaine</span>
			<span class="banner-text font-primary font-weight-normal text-normal ls-normal">.Les termes et conditions s'appliquent</span>
		</h3>
		<a href="/shop" class="btn btn-white btn-rounded">Découvrez maintenant<i class="d-icon-arrow-right"></i>
		</a>
	</div>
</div>
<div class="product-wrapper row pt-6 mb-10 pb-2 appear-animate" data-animation-options="{'name': 'fadeIn'}">
	<div class="col-xl-5col col-lg-3 col-md-4 mb-4">
		<div class="category-wrapper bg-white d-flex flex-column align-items-start h-100">
			<h2 class="title text-left">Cadeaux &amp; gadgets</h2>
			<ul class="pl-0 mt-0 flex-1">
				<li>
					<a href="/shop">Cadeaux pour petit ami</a>
				</li>
				<li>
					<a href="/shop">Cadeaux pour papa</a>
				</li>
				<li>
					<a href="/shop">Cadeaux pour mari</a>
				</li>
				<li>
					<a href="/shop">Cadeaux pour petite amie</a>
				</li>
				<li>
					<a href="/shop">Cadeaux pour maman</a>
				</li>
				<li>
					<a href="/shop">Cadeaux pour femme</a>
				</li>
				<li>
					<a href="/shop">Anniversaire pour elle</a>
				</li>
				<li>
					<a href="/shop">Anniversaire pour lui</a>
				</li>
			</ul>
			<a href="/shop" class="btn btn-dark btn-link btn-underline text-left">Tout parcourir<i class="d-icon-arrow-right"></i>
			</a>
		</div>
	</div>
	<div class="col-xl-5col4 col-lg-9 col-md-8 mb-4">
		<div class="owl-carousel owl-theme owl-nav-inner row cols-xl-4 cols-lg-3 cols-2 h-100" data-owl-options="{
																							                                    'nav': true,
																							                                    'dots': false,
																							                                    'margin': 20,
																							                                    'responsive': {
																							                                        '0': {
																							                                            'items': 2
																							                                        },
																							                                        '576': {
																							                                            'items': 2
																							                                        },
																							                                        '992': {
																							                                            'items': 3
																							                                        },
																							                                        '1200': {
																							                                            'items': 4
																							                                        }
																							                                    }
																							                                }">
			<div class="product-wrap h-100">
				<div class="product product-border text-center h-100">
					<figure class="product-media">
						<a href="/product">
							<img src="{{ asset('theme/images/demos/demo-market2/product/14.jpg') }}" alt="product" width="260" height="293">
						</a>
						<div class="product-action-vertical">
							<a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal" title="Add to cart">
								<i class="d-icon-bag"></i>
							</a>
							<a href="#" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhaits">
								<i class="d-icon-heart"></i>
							</a>
							<a href="#" class="btn-product-icon btn-quickview" title="Quick View">
								<i class="d-icon-search"></i>
							</a>
							<a href="#" class="btn-product-icon btn-compare" title="Comparer">
								<i class="d-icon-compare"></i>
							</a>
						</div>
					</figure>
					<div class="product-details">
						<h3 class="product-name">
							<a href="/product">Ceinture en cuir pour hommes</a>
						</h3>
						<div class="product-price">
							<span class="price">$54.00</span>
						</div>
						<div class="ratings-container">
							<div class="ratings-full">
								<span class="ratings" style="width:80%"></span>
								<span class="tooltiptext tooltip-top"></span>
							</div>
							<a href="/product" class="rating-reviews">( 4 avis
																																							                                                        )</a>
						</div>
					</div>
				</div>
			</div>
			<div class="product-wrap h-100">
				<div class="product product-border text-center h-100">
					<figure class="product-media">
						<a href="/product">
							<img src="{{ asset('theme/images/demos/demo-market2/product/15.jpg') }}" alt="product" width="260" height="293">
						</a>
						<div class="product-action-vertical">
							<a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal" title="Add to cart">
								<i class="d-icon-bag"></i>
							</a>
							<a href="#" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhaits">
								<i class="d-icon-heart"></i>
							</a>
							<a href="#" class="btn-product-icon btn-quickview" title="Quick View">
								<i class="d-icon-search"></i>
							</a>
							<a href="#" class="btn-product-icon btn-compare" title="Comparer">
								<i class="d-icon-compare"></i>
							</a>
						</div>
					</figure>
					<div class="product-details">
						<h3 class="product-name">
							<a href="/product">Doudou femme</a>
						</h3>
						<div class="product-price">
							<ins class="new-price">$23.12</ins>
							<del class="old-price">$32.45</del>
						</div>
						<div class="ratings-container">
							<div class="ratings-full">
								<span class="ratings" style="width:80%"></span>
								<span class="tooltiptext tooltip-top"></span>
							</div>
							<a href="/product" class="rating-reviews">( 4 avis
																																							                                                        )</a>
						</div>
					</div>
				</div>
			</div>
			<div class="product-wrap h-100">
				<div class="product product-border text-center h-100">
					<figure class="product-media">
						<a href="/product">
							<img src="{{ asset('theme/images/demos/demo-market2/product/16.jpg') }}" alt="product" width="260" height="293">
						</a>
						<div class="product-action-vertical">
							<a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal" title="Add to cart">
								<i class="d-icon-bag"></i>
							</a>
							<a href="#" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhaits">
								<i class="d-icon-heart"></i>
							</a>
							<a href="#" class="btn-product-icon btn-quickview" title="Quick View">
								<i class="d-icon-search"></i>
							</a>
							<a href="#" class="btn-product-icon btn-compare" title="Comparer">
								<i class="d-icon-compare"></i>
							</a>
						</div>
					</figure>
					<div class="product-details">
						<h3 class="product-name">
							<a href="/product">Bague Grenat Tsavorite</a>
						</h3>
						<div class="product-price">
							<span class="price">$830.00</span>
						</div>
						<div class="ratings-container">
							<div class="ratings-full">
								<span class="ratings" style="width:100%"></span>
								<span class="tooltiptext tooltip-top"></span>
							</div>
							<a href="/product" class="rating-reviews">( 2 avis
																																							                                                        )</a>
						</div>
					</div>
				</div>
			</div>
			<div class="product-wrap h-100">
				<div class="product product-border text-center h-100">
					<figure class="product-media">
						<a href="/product">
							<img src="{{ asset('theme/images/demos/demo-market2/product/13.jpg') }}" alt="product" width="260" height="293">
						</a>
						<div class="product-action-vertical">
							<a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal" title="Add to cart">
								<i class="d-icon-bag"></i>
							</a>
							<a href="#" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhaits">
								<i class="d-icon-heart"></i>
							</a>
							<a href="#" class="btn-product-icon btn-quickview" title="Quick View">
								<i class="d-icon-search"></i>
							</a>
							<a href="#" class="btn-product-icon btn-compare" title="Comparer">
								<i class="d-icon-compare"></i>
							</a>
						</div>
					</figure>
					<div class="product-details">
						<h3 class="product-name">
							<a href="/product">Caméra à large portée</a>
						</h3>
						<div class="product-price">
							<span class="price">$230.00</span>
						</div>
						<div class="ratings-container">
							<div class="ratings-full">
								<span class="ratings" style="width:60%"></span>
								<span class="tooltiptext tooltip-top"></span>
							</div>
							<a href="/product" class="rating-reviews">( 8 avis
																																							                                                        )</a>
						</div>
					</div>
				</div>
			</div>
			<div class="product-wrap h-100">
				<div class="product product-border text-center h-100">
					<figure class="product-media">
						<a href="/product">
							<img src="{{ asset('theme/images/demos/demo-market2/product/17.jpg') }}" alt="product" width="260" height="293">
						</a>
						<div class="product-action-vertical">
							<a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal" title="Add to cart">
								<i class="d-icon-bag"></i>
							</a>
							<a href="#" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhaits">
								<i class="d-icon-heart"></i>
							</a>
							<a href="#" class="btn-product-icon btn-quickview" title="Quick View">
								<i class="d-icon-search"></i>
							</a>
							<a href="#" class="btn-product-icon btn-compare" title="Comparer">
								<i class="d-icon-compare"></i>
							</a>
						</div>
					</figure>
					<div class="product-details">
						<h3 class="product-name">
							<a href="/product">Montre personnalisée automatique</a>
						</h3>
						<div class="product-price">
							<ins class="new-price">$230.00</ins>
							<del class="old-price">$250.00
							</del>
						</div>
						<div class="ratings-container">
							<div class="ratings-full">
								<span class="ratings" style="width:100%"></span>
								<span class="tooltiptext tooltip-top"></span>
							</div>
							<a href="/product" class="rating-reviews">( 9 avis
																																							                                                        )</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
