<div class="banner-grid-2cols row cols-md-2 mb-10 pb-2">
	<div class="banner banner-fixed content-middle banner-radius mb-4 appear-animate" data-animation-options="{
																			                                'name': 'fadeInLeftShorter', 'duration': '1s'
																			                            }">
		<figure>
			<img src="{{ asset('theme/images/demos/demo-market2/banner/4.jpg') }}" alt="Banner" width="680" height="180" style="background-color: #dedfe0;"/>
		</figure>
		<div class="banner-content">
			<h4 class="banner-subtitle font-weight-normal ls-normal text-dark">Final Reduction
			</h4>
			<h3 class="banner-title font-weight-semi-bold font-secondary ls-m mb-3">Sale up to
																							                                        20% Off</h3>
			<hr class="divider border-no">
			<div class="banner-price-info font-weight-normal text-body">
				Only From<span class="font-weight-bold text-secondary ml-1 ls-m">$270.00</span>
			</div>
		</div>
	</div>

	<div class="banner banner-fixed content-middle banner-radius mb-4 appear-animate" data-animation-options="{
																			                                'name': 'fadeInRightShorter', 'duration': '1s'
																			                            }">
		<figure>
			<img src="{{ asset('theme/images/demos/demo-market2/banner/5.jpg') }}" alt="Banner" width="680" height="180" style="background-color: #636363;"/>
		</figure>
		<div class="banner-content">
			<h4 class="banner-subtitle font-weight-normal ls-normal">Weekend Sale</h4>
			<h3 class="banner-title text-white font-weight-semi-bold font-secondary ls-m mb-3">
				Fine Smart Speaker</h3>
			<hr class="divider border-no bg-light">
			<div class="banner-price-info font-weight-normal text-white">
				Starting at<span class="font-weight-bold text-secondary ml-1 ls-m">$185.00</span>
			</div>
		</div>
	</div>
</div>
<div class="product-wrapper row mb-10 pb-2 appear-animate" data-animation-options="{'name': 'fadeIn'}">
	<div class="col-xl-5col col-lg-3 col-md-4 mb-4">
		<div class="category-wrapper bg-white d-flex flex-column align-items-start h-100">
			<h2 class="title text-left">Electronic</h2>
			<ul class="pl-0 mt-0 flex-1">
				<li>
					<a href="/shop">Audio Amplifier</a>
				</li>
				<li>
					<a href="/shop">TV Receivers</a>
				</li>
				<li>
					<a href="/shop">HDMI Projectors</a>
				</li>
				<li>
					<a href="/shop">Action Cameras</a>
				</li>
				<li>
					<a href="/shop">Camcorders</a>
				</li>
				<li>
					<a href="/shop">Tablets</a>
				</li>
				<li>
					<a href="/shop">Gaming Laptops</a>
				</li>
				<li>
					<a href="/shop">Laptop Bags &amp; Cases</a>
				</li>
			</ul>
			<a href="/shop" class="btn btn-dark btn-link btn-underline text-left">Browse All<i class="d-icon-arrow-right"></i>
			</a>
		</div>
	</div>
	<div class="col-xl-5col4 col-lg-9 col-md-8 mb-4">
		<div class="owl-carousel owl-theme owl-nav-inner row cols-xl-4 cols-lg-3 cols-2 h-100" data-owl-options="{
																							                                    'nav': true,
																							                                    'dots': false,
																							                                    'margin': 20,
																							                                    'responsive': {
																							                                        '0': {
																							                                            'items': 2
																							                                        },
																							                                        '576': {
																							                                            'items': 2
																							                                        },
																							                                        '992': {
																							                                            'items': 3
																							                                        },
																							                                        '1200': {
																							                                            'items': 4
																							                                        }
																							                                    }
																							                                }">
			<div class="product-wrap h-100">
				<div class="product product-border text-center h-100">
					<figure class="product-media">
						<a href="market2-product.html">
							<img src="{{ asset('theme/images/demos/demo-market2/product/10.jpg') }}" alt="product" width="260" height="293">
						</a>
						<div class="product-action-vertical">
							<a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal" title="Add to cart">
								<i class="d-icon-bag"></i>
							</a>
							<a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist">
								<i class="d-icon-heart"></i>
							</a>
							<a href="#" class="btn-product-icon btn-quickview" title="Quick View">
								<i class="d-icon-search"></i>
							</a>
							<a href="#" class="btn-product-icon btn-compare" title="Compare">
								<i class="d-icon-compare"></i>
							</a>
						</div>
					</figure>
					<div class="product-details">
						<h3 class="product-name">
							<a href="market2-product.html">Fashion Sports Watch</a>
						</h3>
						<div class="product-price">
							<ins class="new-price">$200.00</ins>
							<del class="old-price">$270.00</del>
						</div>
						<div class="ratings-container">
							<div class="ratings-full">
								<span class="ratings" style="width:100%"></span>
								<span class="tooltiptext tooltip-top"></span>
							</div>
							<a href="market2-product.html" class="rating-reviews">( 6 reviews
																																							                                                        )</a>
						</div>
					</div>
				</div>
			</div>
			<div class="product-wrap h-100">
				<div class="product product-border text-center h-100">
					<figure class="product-media">
						<a href="market2-product.html">
							<img src="{{ asset('theme/images/demos/demo-market2/product/11.jpg') }}" alt="product" width="260" height="293">
						</a>
						<div class="product-action-vertical">
							<a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal" title="Add to cart">
								<i class="d-icon-bag"></i>
							</a>
							<a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist">
								<i class="d-icon-heart"></i>
							</a>
							<a href="#" class="btn-product-icon btn-quickview" title="Quick View">
								<i class="d-icon-search"></i>
							</a>
							<a href="#" class="btn-product-icon btn-compare" title="Compare">
								<i class="d-icon-compare"></i>
							</a>
						</div>
					</figure>
					<div class="product-details">
						<h3 class="product-name">
							<a href="market2-product.html">USB Receipt</a>
						</h3>
						<div class="product-price">
							<span class="price">$750.00</span>
						</div>
						<div class="ratings-container">
							<div class="ratings-full">
								<span class="ratings" style="width:80%"></span>
								<span class="tooltiptext tooltip-top"></span>
							</div>
							<a href="market2-product.html" class="rating-reviews">( 4 reviews
																																							                                                        )</a>
						</div>
					</div>
				</div>
			</div>
			<div class="product-wrap h-100">
				<div class="product product-border text-center h-100">
					<figure class="product-media">
						<a href="market2-product.html">
							<img src="{{ asset('theme/images/demos/demo-market2/product/12.jpg') }}" alt="product" width="260" height="293">
						</a>
						<div class="product-action-vertical">
							<a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal" title="Add to cart">
								<i class="d-icon-bag"></i>
							</a>
							<a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist">
								<i class="d-icon-heart"></i>
							</a>
							<a href="#" class="btn-product-icon btn-quickview" title="Quick View">
								<i class="d-icon-search"></i>
							</a>
							<a href="#" class="btn-product-icon btn-compare" title="Compare">
								<i class="d-icon-compare"></i>
							</a>
						</div>
					</figure>
					<div class="product-details">
						<h3 class="product-name">
							<a href="market2-product.html">Remote Controller</a>
						</h3>
						<div class="product-price">
							<ins class="new-price">$154.21</ins>
							<del class="old-price">$184.63</del>
						</div>
						<div class="ratings-container">
							<div class="ratings-full">
								<span class="ratings" style="width:100%"></span>
								<span class="tooltiptext tooltip-top"></span>
							</div>
							<a href="market2-product.html" class="rating-reviews">( 2 reviews
																																							                                                        )</a>
						</div>
					</div>
				</div>
			</div>
			<div class="product-wrap h-100">
				<div class="product product-border text-center h-100">
					<figure class="product-media">
						<a href="market2-product.html">
							<img src="{{ asset('theme/images/demos/demo-market2/product/13.jpg') }}" alt="product" width="260" height="293">
						</a>
						<div class="product-action-vertical">
							<a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal" title="Add to cart">
								<i class="d-icon-bag"></i>
							</a>
							<a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist">
								<i class="d-icon-heart"></i>
							</a>
							<a href="#" class="btn-product-icon btn-quickview" title="Quick View">
								<i class="d-icon-search"></i>
							</a>
							<a href="#" class="btn-product-icon btn-compare" title="Compare">
								<i class="d-icon-compare"></i>
							</a>
						</div>
					</figure>
					<div class="product-details">
						<h3 class="product-name">
							<a href="market2-product.html">Wide Range Camera</a>
						</h3>
						<div class="product-price">
							<span class="price">$230.00</span>
						</div>
						<div class="ratings-container">
							<div class="ratings-full">
								<span class="ratings" style="width:60%"></span>
								<span class="tooltiptext tooltip-top"></span>
							</div>
							<a href="market2-product.html" class="rating-reviews">( 8 reviews
																																							                                                        )</a>
						</div>
					</div>
				</div>
			</div>
			<div class="product-wrap h-100">
				<div class="product product-border text-center h-100">
					<figure class="product-media">
						<a href="market2-product.html">
							<img src="{{ asset('theme/images/demos/demo-market2/product/11.jpg') }}" alt="product" width="260" height="293">
						</a>
						<div class="product-action-vertical">
							<a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal" title="Add to cart">
								<i class="d-icon-bag"></i>
							</a>
							<a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist">
								<i class="d-icon-heart"></i>
							</a>
							<a href="#" class="btn-product-icon btn-quickview" title="Quick View">
								<i class="d-icon-search"></i>
							</a>
							<a href="#" class="btn-product-icon btn-compare" title="Compare">
								<i class="d-icon-compare"></i>
							</a>
						</div>
					</figure>
					<div class="product-details">
						<h3 class="product-name">
							<a href="market2-product.html">USB Receipt</a>
						</h3>
						<div class="product-price">
							<span class="price">$750.00</span>
						</div>
						<div class="ratings-container">
							<div class="ratings-full">
								<span class="ratings" style="width:80%"></span>
								<span class="tooltiptext tooltip-top"></span>
							</div>
							<a href="market2-product.html" class="rating-reviews">( 4 reviews
																																							                                                        )</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
