{% extends 'dashboard/_base.html.twig' %}

{% block dashboardPageContent %}

	<!-- start page title -->
	<div class="page-title-box">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-sm-6">
					<div class="page-title">
						<h4>Createurs</h4>
						<ol class="breadcrumb m-0">
							<li class="breadcrumb-item">
								<a href="javascript: void(0);">Morvin</a>
							</li>
							<li class="breadcrumb-item">
								<a href="javascript: void(0);">Marketplace</a>
							</li>
							<li class="breadcrumb-item active">Createurs</li>
						</ol>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="float-end d-none d-sm-block">
						<a href="" class="btn btn-success">Imprimer la liste</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end page title -->


	<div class="container-fluid">

		<div class="page-content-wrapper">


			<div class="row">
				<div class="col-xl-12">
					<div class="card m-b-30">
						<div class="card-body">
							<h4 class="mt-0 header-title mb-4">
								<a href="" class="btn btn-success">Ajouter un createur</a>
							</h4>
							<div class="table-responsive">
								<table class="table table-centered table-nowrap table-hover mb-0">
									<thead>
										<tr>
											<th scope="col">Brand</th>
											<th scope="col">Name</th>
											<th scope="">Email</th>
											<th scope="col">Date</th>
											<th scope="col">Product</th>
											<th scope="col">Current Balance</th>

										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<img src="{{ asset('dashboard/assets/images/companies/img-1.png') }}" alt="" class="avatar-sm">
											</td>
											<td>
												<h5 class="font-size-16">
													Nedick's</h5>
												<p class="text-muted mb-0">
													<i class="mdi mdi-account me-1"></i>
													Wayne McClain
												</p>
											</td>
											<td>WayneMcclain@gmail.com</td>
											<td>07/10/2020</td>
											<td>86</td>
											<td>
												$12,456
											</td>

										</tr>

										<tr>
											<td>
												<img src="{{ asset('dashboard/assets/images/companies/img-2.png') }}" alt="" class="avatar-sm">
											</td>
											<td>
												<h5 class="font-size-16">
													Brendle's</h5>
												<p class="text-muted mb-0">
													<i class="mdi mdi-account me-1"></i>
													David Marshall
												</p>
											</td>
											<td>
												Davidmarshall@gmail.com</td>
											<td>12/10/2020</td>
											<td>72</td>
											<td>
												$10,352
											</td>
										</tr>

										<tr>
											<td>
												<img src="{{ asset('dashboard/assets/images/companies/img-3.png') }}" alt="" class="avatar-sm">
											</td>
											<td>
												<h5 class="font-size-16">
													Tech Hifi</h5>
												<p class="text-muted mb-0">
													<i class="mdi mdi-account me-1"></i>
													Katia Stapleton
												</p>
											</td>
											<td>
												Katiastapleton@gmail.com</td>
											<td>14/10/2020</td>
											<td>75</td>
											<td>
												$9,963
											</td>
										</tr>

										<tr>
											<td>
												<img src="{{ asset('dashboard/assets/images/companies/img-5.png') }}" alt="" class="avatar-sm">
											</td>
											<td>
												<h5 class="font-size-16">
													Packer</h5>
												<p class="text-muted mb-0">
													<i class="mdi mdi-account me-1"></i>
													Mae Rankin
												</p>
											</td>
											<td>
												Maerankingmail.com</td>
											<td>15/10/2020</td>
											<td>72</td>
											<td>
												$10,352
											</td>
										</tr>


										<tr>
											<td>
												<img src="{{ asset('dashboard/assets/images/companies/img-4.png') }}" alt="" class="avatar-sm">
											</td>
											<td>
												<h5 class="font-size-16">
													Lafayette</h5>
												<p class="text-muted mb-0">
													<i class="mdi mdi-account me-1"></i>
													Andrew Bivens
												</p>
											</td>
											<td>Andrewbivens@gmail.com</td>
											<td>20/11/2020</td>
											<td>65</td>
											<td>
												$14,568
											</td>

										</tr>

										<tr>
											<td>
												<img src="{{ asset('dashboard/assets/images/companies/img-8.png') }}" alt="" class="avatar-sm">
											</td>
											<td>
												<h5 class="font-size-16">
													Tech Hifi</h5>
												<p class="text-muted mb-0">
													<i class="mdi mdi-account me-1"></i>
													John McLeroy
												</p>
											</td>
											<td>
												JohnmcLeroy@gmail.com</td>
											<td>30/31/2020</td>
											<td>58</td>
											<td>
												$14,654
											</td>
										</tr>

									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>

			

			</div>
			<!-- END ROW -->


			<!-- end row -->

		</div>


	</div>
	<!-- container-fluid -->

{% endblock %}
