<div class="col-md-6">
	<div class="product-gallery pg-vertical">
		<div class="product-single-carousel owl-carousel owl-theme owl-nav-inner row cols-1">
			<figure class="product-image">
				<img src="{{ asset ('theme/images/demos/demo-market2/products/1-504x567.jpg') }}" data-zoom-image="{{ asset ('theme/images/demos/demo-market2/products/1-800x900.jpg') }}" alt="Women's Brown Leather Backpacks" width="800" height="900">
			</figure>
			<figure class="product-image">
				<img src="{{ asset ('theme/images/demos/demo-market2/products/2-504x567.jpg') }}" data-zoom-image="{{ asset ('theme/images/demos/demo-market2/products/2-800x900.jpg') }}" alt="Women's Brown Leather Backpacks" width="800" height="900">
			</figure>
			<figure class="product-image">
				<img src="{{ asset ('theme/images/demos/demo-market2/products/3-504x567.jpg') }}" data-zoom-image="{{ asset ('theme/images/demos/demo-market2/products/3-800x900.jpg') }}" alt="Women's Brown Leather Backpacks" width="800" height="900">
			</figure>
			<figure class="product-image">
				<img src="{{ asset ('theme/images/demos/demo-market2/products/4-504x567.jpg') }}" data-zoom-image="{{ asset ('theme/images/demos/demo-market2/products/4-800x900.jpg') }}" alt="Women's Brown Leather Backpacks" width="800" height="900">
			</figure>
		</div>
		<div class="product-thumbs-wrap">
			<div class="product-thumbs">
				<div class="product-thumb active">
					<img src="{{ asset ('theme/images/demos/demo-market2/products/1-118x135.jpg') }}" alt="product thumbnail" width="118" height="135">
				</div>
				<div class="product-thumb">
					<img src="{{ asset ('theme/images/demos/demo-market2/products/2-118x135.jpg') }}" alt="product thumbnail" width="118" height="135">
				</div>
				<div class="product-thumb">
					<img src="{{ asset ('theme/images/demos/demo-market2/products/3-118x135.jpg') }}" alt="product thumbnail" width="118" height="135">
				</div>
				<div class="product-thumb">
					<img src="{{ asset ('theme/images/demos/demo-market2/products/4-118x135.jpg') }}" alt="product thumbnail" width="118" height="135">
				</div>
			</div>
			<button class="thumb-up disabled">
				<i class="fas fa-chevron-left"></i>
			</button>
			<button class="thumb-down disabled">
				<i class="fas fa-chevron-right"></i>
			</button>
		</div>
	</div>
</div>
