<section class="pt-2 mt-10">
	<h2 class="title justify-content-center ls-normal">Related Products</h2>

	<div class="owl-carousel owl-theme owl-nav-full row cols-2 cols-md-3 cols-lg-4" data-owl-options="{
			                                    'items': 5,
			                                    'nav': false,
			                                    'loop': false,
			                                    'dots': true,
			                                    'margin': 20,
			                                    'responsive': {
			                                        '0': {
			                                            'items': 2
			                                        },
			                                        '768': {
			                                            'items': 3
			                                        },
			                                        '992': {
			                                            'items': 4,
			                                            'dots': false,
			                                            'nav': true
			                                        }
			                                    }
			                                }">
		<div class="product product-border text-center">
			<figure class="product-media">
				<a href="/product">
					<img src="{{ asset ('theme/images/demos/demo-market2/product/23-1.jpg') }}" alt="product" width="260" height="293">
					<img src="{{ asset ('theme/images/demos/demo-market2/product/23-2.jpg') }}" alt="product" width="260" height="293">
				</a>
				<div class="product-action-vertical">
					<a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal" title="Add to cart">
						<i class="d-icon-bag"></i>
					</a>
					<a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist">
						<i class="d-icon-heart"></i>
					</a>
					<a href="#" class="btn-product-icon btn-quickview" title="Quick View">
						<i class="d-icon-search"></i>
					</a>
					<a href="#" class="btn-product-icon btn-compare" title="Compare">
						<i class="d-icon-compare"></i>
					</a>
				</div>
			</figure>
			<div class="product-details">
				<h3 class="product-name">
					<a href="/product">Secuerity Guard</a>
				</h3>
				<div class="product-price">
					<span class="price">$98.00 - $99.00</span>
				</div>
				<div class="ratings-container">
					<div class="ratings-full">
						<span class="ratings" style="width:80%"></span>
						<span class="tooltiptext tooltip-top"></span>
					</div>
					<a href="/product" class="rating-reviews">( 2 reviews )</a>
				</div>
			</div>
		</div>
		<div class="product product-border text-center">
			<figure class="product-media">
				<a href="/product">
					<img src="{{ asset ('theme/images/demos/demo-market2/product/16.jpg') }}" alt="product" width="260" height="293">
				</a>
				<div class="product-action-vertical">
					<a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal" title="Add to cart">
						<i class="d-icon-bag"></i>
					</a>
					<a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist">
						<i class="d-icon-heart"></i>
					</a>
					<a href="#" class="btn-product-icon btn-quickview" title="Quick View">
						<i class="d-icon-search"></i>
					</a>
					<a href="#" class="btn-product-icon btn-compare" title="Compare">
						<i class="d-icon-compare"></i>
					</a>
				</div>
			</figure>
			<div class="product-details">
				<h3 class="product-name">
					<a href="/product">Tsavorite Garnet Ring</a>
				</h3>
				<div class="product-price">
					<span class="price">$830.00</span>
				</div>
				<div class="ratings-container">
					<div class="ratings-full">
						<span class="ratings" style="width:100%"></span>
						<span class="tooltiptext tooltip-top"></span>
					</div>
					<a href="/product" class="rating-reviews">( 2 reviews )</a>
				</div>
			</div>
		</div>
		<div class="product product-border text-center h-100">
			<figure class="product-media">
				<a href="/product">
					<img src="{{ asset ('theme/images/demos/demo-market2/product/10.jpg') }}" alt="product" width="260" height="293">
				</a>
				<div class="product-action-vertical">
					<a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal" title="Add to cart">
						<i class="d-icon-bag"></i>
					</a>
					<a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist">
						<i class="d-icon-heart"></i>
					</a>
					<a href="#" class="btn-product-icon btn-quickview" title="Quick View">
						<i class="d-icon-search"></i>
					</a>
					<a href="#" class="btn-product-icon btn-compare" title="Compare">
						<i class="d-icon-compare"></i>
					</a>
				</div>
			</figure>
			<div class="product-details">
				<h3 class="product-name">
					<a href="/product">Fashion Sports Watch</a>
				</h3>
				<div class="product-price">
					<ins class="new-price">$200.00</ins>
					<del class="old-price">$270.00</del>
				</div>
				<div class="ratings-container">
					<div class="ratings-full">
						<span class="ratings" style="width:100%"></span>
						<span class="tooltiptext tooltip-top"></span>
					</div>
					<a href="/product" class="rating-reviews">( 6 reviews )</a>
				</div>
			</div>
		</div>
		<div class="product product-border text-center">
			<figure class="product-media">
				<a href="/product">
					<img src="{{ asset ('theme/images/demos/demo-market2/product/25-1.jpg') }}" alt="product" width="260" height="293">
					<img src="{{ asset ('theme/images/demos/demo-market2/product/25-2.jpg') }}" alt="product" width="260" height="293">
				</a>
				<div class="product-action-vertical">
					<a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal" title="Add to cart">
						<i class="d-icon-bag"></i>
					</a>
					<a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist">
						<i class="d-icon-heart"></i>
					</a>
					<a href="#" class="btn-product-icon btn-quickview" title="Quick View">
						<i class="d-icon-search"></i>
					</a>
					<a href="#" class="btn-product-icon btn-compare" title="Compare">
						<i class="d-icon-compare"></i>
					</a>
				</div>
			</figure>
			<div class="product-details">
				<h3 class="product-name">
					<a href="/product">Woman’s Light Handbag</a>
				</h3>
				<div class="product-price">
					<ins class="new-price">$98</ins>
					<del class="old-price">$129.00</del>
				</div>
				<div class="ratings-container">
					<div class="ratings-full">
						<span class="ratings" style="width:60%"></span>
						<span class="tooltiptext tooltip-top"></span>
					</div>
					<a href="/product" class="rating-reviews">( 7 reviews )</a>
				</div>
			</div>
		</div>
	</div>
</section>
